<div id="header">
    <div class="header_olio">
        <h1 [@openClose]>{{title}}</h1>
        <div class="power">
            <p>Powered by</p>
            <h2>Olio</h2>
        </div>
    </div>


    <div class="header_2">
        <div class="item">
            <img src="https://img.icons8.com/fluent/2x/security-configuration.png" alt="">
            <p>Safe Dining</p>
        </div>
        <div class="item">
            <img src="https://img.icons8.com/fluent/2x/filled-like.png" alt="">
            <p>Stories</p>
        </div>
        <div class="item">
            <img src="https://img.icons8.com/fluent/48/000000/discount.png" alt="">
            <p>Offers</p>
        </div>
    </div>


</div>
