<div class="order">
    <div>
        <div class="title">
            <h3>Previously order Items</h3>
            <mat-divider></mat-divider>
        </div>
        <ng-container *ngIf="cartItems.length>0; else elseTemplate">
            <div class="items">
                <div *ngFor="let cart of cartItems" class="item" id="{{cart.itemId}}">
                <div class="item_image">
                    <img class="shine" src="{{cart.image}}"/>
                </div>
                <div class="item_content">
                    <div class="main">
                        <div class="content">
                            <h3>{{cart.itemName}}</h3>
                            <div class="cont">
                            </div>
                        </div>
                        <div class="count">
                            <h4>₹ {{cart.count*cart.rate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </ng-container>
        <ng-template #elseTemplate>
            <p style="font-size:30px; margin-top: 20px; margin-bottom: 20px; color: rgba(151, 151, 151, 0.801);">No Items</p>
        </ng-template>
    </div>
</div>

